.header {
  width: 100vw;
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #000;
  z-index: 3;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 70px;
  color: #FFF;
}

.header__logo {
  max-height: 100%;
}

.header__logo-title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 400;
}

.header__links {
  margin-left: auto;
  display: flex;
  gap: 40px;
}

.header__link {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
}